@model Attendance_System.Models.Lecture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LectureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LectureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LectureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
