@model Attendance_System.Models.IndexViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <br/><br/>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your User-ID is <strong>@User.Identity.GetUserId()</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://www.sonypark360.net/wp-content/uploads/2017/08/profile-pictures.png" class="img-circle img-responsive"> </div>

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>@User.Identity.GetUserName()</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth:</td>
                                            <td>03-05-1992</td>
                                        </tr>
                                        <tr>
                                            <td>City:</td>
                                            <td>Aarhus C, 8000</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>Thatstreet 1</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>
                                                @(Model.PhoneNumber ?? "")
                                                @if (Model.PhoneNumber != null)
                                                {
                                                    @Html.ActionLink("Change", "AddPhoneNumber")
                                                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-info"><i class="fa fa-times"></i></button>
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Add", "AddPhoneNumber")
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><a href="#">@Model.Email</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @if (Model.HasPassword)
                                                {
                                                    <i class="fa fa-edit"></i>
                                                    @Html.ActionLink("Change your password", "ChangePassword")
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Create", "SetPassword")
                                                }
                                            </td>
                                            <td>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                   @Html.ActionLink("Back to List", "Index", "Dashboard" , new { @class = "btn btn-primary" })
                                                }
                                                @if (User.IsInRole("Teacher"))
                                                {
                                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                                }
                                                @if (User.IsInRole("Student"))
                                                {
                                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






