<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendify</title>  
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")

</head>


<body class="skin-blue">  

    <div class="container">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte")
    @Scripts.Render("~/bundles/adminltedashboard")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(".datefield").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
    </script> 
    <script>
            $('.info-box.hvr-curl-top-left').hover(function () {
                $(this).addClass('magictime puffIn');
            });
    </script>
</body>
